*{
  margin: 0
  padding: 0
  box-sizing: border-box
}
/* body {width: 600px; height: 600px;margin: 100px auto;text-align: center} */
div {margin: 0 auto}



.photocontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img{
  height: 400px;
  width: 400px;
  margin: 6px;
  object-fit: cover;
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .8s ease-in-out;
  }

  img:hover {
  filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
  }


h1{
  font-family: 'Cantarell', sans-serif;
  text-align: center;
}
h3{
  color: gray;
  font-family: 'Cantarell', sans-serif;
  text-align: center;
}

h2 {
  color: #DAA520;
  border: 2px solid #DAA520;
  display: block;
  width: 150px;
  font-family: 'Cantarell', sans-serif;
  text-align: center;
  justify-content: center;
}

img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.mainpic{
  height: 200px;
  width: 200px;
  display:block;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  margin-left: auto;
  margin-right: auto;
  border-radius: 80%;
  object-fit: cover;
}
